  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background-image: url(../img/bg-repeat.jpg);
    background-size: 7vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container-externo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.container-externo .container-texto {
    width: 300px;
    height: 111px;
    margin: 50px;
}

.container-externo .container-texto h1,
.container-externo .container-texto p {
    color:#fff

}

.container-externo .container-texto h1 {
    font-size: 2rem;
    font-weight: 900;
}

.container-externo .container-texto p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}


.container-externo .formulario {
    background-color: #fff;
    width: 340px;
    height: 378px;
    flex-direction: column;
    padding: 5px;
}

.container-externo .formulario .caixa-de-texto {
    width: 298px;
    border-radius: 5px;
    height: 35px;
    border: solid 1px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    margin-top: 17px;
    margin-left: 20px;
}

.container-externo .formulario .caixa-de-texto.mensagem {
    height: 100px;
    display: flex;
    padding-bottom: 70px;
}

.container-externo .formulario .campo-obrigatorio {
    color: #F52E2E;
    margin-left: 20px;
    font-size: .9rem;
    position: absolute;
}

.container-externo .formulario .campos-obrigatorios {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 10px;
}

.container-externo .formulario #botao-enviar {
    display: flex;
    position: absolute;
    width: 298px;
    height: 41px;
    background-color: #3CCC87;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.container-externo .formulario .vazio {
    border-color: #F52E2E;
}

.container-externo .formulario .preenchido {
    border-color: #00c22b;
}

.esconder {
    display: none;
}